<html>

<head>
  <title>Static Website</title>
  <link rel="stylesheet" href="indexstyles.css">

</head>

<body>
  <div class="box">
    {{if kindIs "invalid" .uname}}
    You are not logged in!
    {{else }}
    You are logged in as {{ .uname }}
    {{end}}
    {{if .alert }}
    <script>
      alert("Wrong username and/or password, sorry!");
    </script>
    {{end}}
    
  </div>
  <h1>Dear visitor! This is my experimental webpage with Golang backend. </h1>
  
  <div class="flex-container">
    <a href="/loadweatherpage" class="button">Weather app</a>
    {{if kindIs "invalid" .uname}}
    <a href="/loginpage" class="button">Login</a>
    {{else }}
    <a href="/logout" class="button">Logout</a>
    {{end}}
    <a href="/emailregpage" class="button">Registration page</a>
    <a href="/recommendabook" class="button">Recommend a book to others</a>
  </div>
</body>

</html>